<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/static/index.css">
		<script src="/static/index.js" defer></script>

		<title>Zeus CTF Flags</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="team-name-header">
				<h1>Team Name:</h1>
				<input
					type="text"
					name="team-name"
					id="team-name-input"
					placeholder="team name"
				>
			</div>
			<ul>
				{{#each manual_challenges}}
					{{#with this as | challenge |}}
						<li>
							<div class="challenge-header">
								<div class="challenge-info">
									<h2>{{challenge.name}}</h2>
									<b>({{challenge.points}} pts.)</b>
								</div>
								<input
									type="text"
									name="flag"
									id="flag"
									class="flag-input"
									placeholder="flag"
								>
							</div>
							<p>
								{{challenge.description}}
							</p>
						</li>
					{{/with}}
				{{/each}}
				{{#each picoctf_challenges}}
					{{#with this as | challenge |}}
						<li class="pico-challenge">
							<a href="{{challenge.link}}">
								PicoCTF: {{challenge.name}}
							</a>
						</li>
					{{/with}}
				{{/each}}
			</ul>
			<input type="button" value="SUBMIT" id="submit-btn">
		</div>
	</body>
</html>
